html, body {
  background: #fff;
  margin: 0 0;
  overflow: hidden;
  color: #444;
  font: 4.4vw/1.20 'EB Garamond', serif;
  height:100vh;
  width:100vw;
}


h1, h2, h3 {
  margin: 1vw 0;
  padding: 0;
  color: #444;
  width: 100%;
  text-align: center;
  font-weight: 100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'PT Sans Narrow', serif;
    margin: 2vw 0;
    padding: 0;
}


img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

a {
  color: #0077ff;
  outline: 0 none;
  text-decoration: none;
  text-rendering: optimizelegibility;
}

a:focus,
a:active,
a:hover {
  outline: 0 none;
  color: #070;
}

a:active {
  text-shadow: 0 0 2px #fff;
}

/* Page specific */

.leaf {
  height: 100%;
  height: 100vh;
  width: 100%;
  width: 100vw;
  margin: auto;
}

.inner {
  margin: 10% auto;
  width: 85%;
}

.flex {
  display: -webkit-box;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.justify {
  text-align: justify;
}

p {
    margin: 3vw 0;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

p.chapter-begin:first-letter {
  display: inline-block;
  margin: 5vw 1vw .1vw 0;
  float: left;
  line-height: 10vw;
  font-size: 25vw;
  color: hsla(11, 50%, 50%, 1);
  font-family: 'Luckiest Guy', serif;
}

.center {
  text-align: center;
  margin:0 auto;
}

.small {
  font-size: 80%;
}


blockquote {
    font-family: 'EB Garamond', serif;
    margin: 2vh 0;
    padding: 0;
    quotes: "\201C""\201D""\2018""\2019";
    color: #222;
    font-weight: 100;
    font-style: italic;
}

blockquote:before {
    color: #0cf;
    content: open-quote;
    font-size: 6vw;
    line-height: 0.1vw;
    margin-right: -0.1vw;
    vertical-align: -0.9vw;
}

blockquote:after {
    color: #0cf;
    content: close-quote;
    font-size: 6vw;
    line-height: 0.4vw;
    margin-left: 0.5vw;
    vertical-align: -0.9vw;
}
