/* Set image on each page with background-image: url(/to/your/comic/assets/images/page-1115x1143-pixels.jpg); */
/* Layout CSS below is applied to all pages of the comics */

body, html {
    height: 100vh;
    width: 100vw;
    margin: 0 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: 100% 100%;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}


  
